tp1/1-money/node_modules/
tp1/2-factorial/node_modules/
tp1/3-levenshtein/node_modules/
tp2/node_modules/
tp2-2/node_modules/
tp3/1-chess/node_modules/
tp3/2-signup/node_modules/
tp4/1-login/node_modules/
tp4/2-rpg/node_modules/